#main-main {
  max-width: 800px;
  margin: 5rem auto 1rem auto;
  padding: 1rem;
  background-color: white;
}

/* 


MAIN NAV */

#main-nav {
  z-index: 2;
  background-color: #333;
  position: fixed;
  left: 50vw;
  translate: -50% 0;
  top: 1rem;
  display: flex;
  gap: 20px;
  padding: 5px 10px;
}
#nav-blog,
#nav-home,
#nav-pym4b {
  aspect-ratio: 1/1;
  height: 35px;
  background-size: cover;
  background-image: url("/header/home-white.png");
}
#nav-home:hover,
#nav-home.current-nav-link {
  background-image: url("/header/home-yellow.png");
}
#nav-blog {
  background-image: url("/header/blog-white.png");
}
#nav-blog:hover,
#nav-blog.current-nav-link {
  background-image: url("/header/blog-yellow.png");
}
#nav-pym4b {
  background-image: url("/header/pym4b-white.png");
}
#nav-pym4b:hover,
#nav-pym4b.current-nav-link {
  background-image: url("/header/pym4b-yellow.png");
}

/* 


DIALOG */

.dialog-login {
  outline: none;
  border: 1px solid #333;
}

.dialog-login::backdrop {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
}

.dialog-login > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  small {
    color: #aaa;
    cursor: pointer;
    display: block;
    text-align: right;
  }
  input {
    width: 100%;
  }
}
.dialog-login > form > div {
  display: flex;
  gap: 0.5rem;
  button {
    flex: 1;
  }
}

/* 


MDX DIV CONTAINER */

.image-small,
.image-large {
  text-align: center;
  * {
    margin: 0.5rem;
  }
  img {
    margin: 0;
    width: 350px;
  }
}

.image-large {
  img {
    width: 100%;
  }
}

/* 


SPAN */
.span-tag {
  outline: 1px solid grey;
  outline-width: 1px;
  color: grey;
  padding: 0.1rem 0.33rem;
  cursor: pointer;
  user-select: none;
}
.span-tag:hover,
.span-tag.active {
  outline-width: 1.5px;
  outline-color: black;
  color: black;
}

/* 


CODE HIGHLIGHT LINES */

span.line-number {
  position: relative;
  padding-left: 3em; /* Space for the line number */
}

span.line-number::before {
  content: attr(line); /* Uses the line attribute value */
  position: absolute;
  left: 0;
  width: 2em;
  text-align: right;
  padding-right: 0.5em;
  color: #888; /* A lighter color for line numbers */
  user-select: none; /* Makes the line number not selectable */
}
