#login-button {
  z-index: 1;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  display: flex;
  gap: 0.5rem;
  svg {
    min-width: 16px;
  }
}

#login-button:hover {
  background-color: #757575;
}
