.post-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.new-post-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(255, 85, 0);
  border: none;
  box-shadow: 5px 5px 0px blue;
}

.new-post-button:hover {
  box-shadow: 7px 7px 0px blue;
  text-decoration: underline;
}

.display-mode {
  display: flex;
  gap: 10px;
  justify-content: right;
  align-items: center;
  margin: 15px 0;
}

.display-mode > button {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  border: 1px solid #ccc;
  color: #ccc;
}
.display-mode > button:hover {
  border: 1px solid #aaa;
  color: #aaa;
}
.display-mode > button.active {
  border: 1px solid #333;
  color: #333;
  text-decoration: underline;
}

.display-mode > button > svg {
  translate: 0 2px;
}
