.post-list {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.post-card {
  outline: 1px solid #666;
  border-radius: 10px;
  cursor: pointer;
}

.post-card:hover {
  box-shadow: 0 0 10px #333;
}
