.new-post-dialog {
  width: min(1000px, 90%);
  max-height: 90%;
}

.new-post-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  input,
  textarea {
    border: none;
  }
  input:focus,
  textarea:focus {
    outline: 1px solid #ccc;
  }
}

.editor-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.editor-div > input {
  font-size: 1.5em;
  font-weight: 600;
}

.post-preview-container {
  display: flex;
  gap: 10px;
  margin: 5px 0px;
  padding: 2px;
  textarea,
  div {
    flex: 1;
    resize: none;
    field-sizing: content;

    max-height: 70vh;
    overflow-y: auto;
  }
}

.new-post-last-row {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.tags-row {
  display: flex;
  gap: 5px;
}

.button-div {
  display: flex;
  gap: 5px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
