.post-editor {
  width: min(1200px, 90vw);
  height: min(900px, 90vh);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* TOP DIV */
.post-editor > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: hidden;
  margin-top: 30px;
}
.post-editor > div:nth-child(1) > div {
  flex: 1;
  max-height: 100%;
}
.mdx-editor {
  display: flex;
  flex-direction: column;
}
.mdx-editor > textarea {
  resize: none;
  field-sizing: content;
}
.mdx-preview {
  overflow: auto;
}

/* BOTTOM DIV */
.post-editor > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
