.post-card {
  outline: 1px solid #ddd;
  transition: scale 250ms ease-in-out;
}

.post-card:hover {
  outline: 1px solid #aaa;
}

.post-card > div {
  margin: 10px;
}

.post-card > div:first-child {
  margin: 0;
}

.card-img {
  min-height: 150px;
  background-color: #eee;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}
.card-footer > div:first-child {
  display: flex;
  flex-direction: column;
}

.stats-icon {
  display: block;
  width: fit-content;
  position: relative;
  margin: 5px;
}

.stats-icon::after {
  content: attr(data-count);
  font-size: 0.7em;
  position: absolute;
  line-height: 0.3em;
  top: 0;
  left: calc(100% + 2px);
  text-align: left;
}
